body 
{
    background-color: #34495e;
    
}

header div
{
    background-color: #ecf0f1;
    max-width: auto;
    height: 80px;
}

header div h2
{
    font-size: 50px;
    font-family: Tahoma, Geneva, sans-serif;
    text-align: center;
    padding-top: 10px;
}

section
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section img
{
    padding: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   max-width: 25%;
       max-height:25%;
}

section p
{
    text-align: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

/*section ul li a 
{
    list-style: none;
    text-decoration: none;
    font-family: Tahoma, Geneva, sans-serif;
    color: white;  
    padding: 3px;
}

section
{
    width: 300px;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
}*/