* {
    box-sizing: border-box;
}
 
.container {
    max-width: 768px;
    margin: 0 auto;
}
 
button {
    margin: 0 auto;
}
 
h1 {
    text-align: center;
}
 
.orderAdd {
    margin-bottom: 40px;
}
 
 
.productsContainer {
    margin: 0 auto;
    max-width: 400px;
}
 
.productsContainer input[type="text"] {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #AAAAAA;
    font-size: 16px;
    padding: 10px;
}
 
.productList {
    list-style: none;
    margin: 20px 0 10px 0;
    padding: 0;
    border: 1px solid #AAAAAA;
    border-radius: 3px;
}
 
.productList li {
    border-bottom: 1px solid #AAAAAA;
    padding: 10px;
    height: 40px;
}
 
.productList li:last-child {
    border-bottom: 0;
}
 
.productList li .name{
    line-height: 25px;
}
 
.productList li .quantity {
    font-weight: bold;
    float: right;
    margin-right: 15px;
    font-size: 16px;
    line-height: 25px;
}
 
amount-control {
    float: right;
}
 
label {
    display: block;
    margin-bottom: 5px;
}
 
button.action {
    border: 0;
    border-radius: 3px;
    margin-top: 20px;
    padding: 10px;
    color: white;
    background-color: #179EFF;
}
 
.center {
    text-align: center;
}

#plusBtn
{
    background-color: green;
    border-radius: 100%;
    
    width: 30px;
    height: 30px;
}

#minBtn
{
    margin: auto;
    background-color: red;
    border-radius: 100%;
    
    width: 30px;
    height: 30px;
}
