body {
    background-color: #2c3e50;
}

#header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    height: 80px;
    width: 350px;
    border-radius: 20px;
    text-align: center;
    
    -webkit-animation:inDraaien 0.4s ease-out;
    
    
}

 h3 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: inline-block;
    margin: auto;
    margin-top: 15px;
     
     -webkit-animation:textZap 0.4s;
}

#photos {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    margin-top: 35px;
}

h4 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    
    margin-top: 10px;
    -webkit-animation:textZap 0.8s;
}

#photos .avatar {
    display: inline-block;
    margin-left: 10px;
    
    -webkit-animation:carousel 1.0s ease-out;
    transition: transform 0.4s ease-out;
    
    transform-origin: center;
}

#photos .avatar:hover
{
    transform: scale(1.1);
}
    

@-webkit-keyframes carousel
{
    0%{-webkit-transform: perspective(300px) rotateY(90deg)}
    60%{-webkit-transform: perspective(300px) rotateY(-5deg)}
    80%{-webkit-transform: perspective(300px) rotateY(5deg)}
    100%{-webkit-transform: perspective(300px) rotateY(0deg)};
}

@-webkit-keyframes inDraaien
{
    0% {
    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }

  100% {-webkit-transform-origin: left bottom;
      -webkit-transform: none;
    opacity: 1;
  }
    
}


@-webkit-keyframes textZap
{
    90%{-webkit-transform: translateX(-350px);
        opacity: 0;
    }
    100%{-webkit-transform: translateX(0px);
    opacity: 1;
    };
}

    
