<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Weerapp Angular</title>
</head>
<style>
	body img
	{
		width: 15%;
		height: 15%;
	}
</style>
<body>

<div ng-controller="weatherController">
	<h1>{{model.city | uppercase}}</h1>
	<h3>{{model.weathertype | uppercase}}</h3>
	<img ng-src="{{model.imageurl}}" alt="">
	<h5>{{model.temperature | uppercase}}</h5>
	<h5>{{model.minTemp | uppercase}} {{model.maxTemp | uppercase}}</h5>
</div>

	<script src="angular.js"></script>
	<script>
	(function ($scope, $http) {
		var model = { 

			// city: "Kontich",
			// weathertype: "sunny",
			// temperature: "15°",
			// minTemp: "5°",
			// maxTemp: "25°",
			// imageurl: "http://i.imgur.com/WZoJgXa.jpg"
			// };
		function 
			




		var weatherController = function($scope){
			$scope.model = model;

		}

		$http.get("https://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20weather.forecast%20where%20woeid%3D970013%20and%20u%3D'c'&format=json&callback=").then(onSuccess, onError);

		var app = angular.module("app", []);
		app.controller("weatherController", weatherController);
		
	})();
	</script>
</body>
</html>