body
{
    background-color: red;
}

.faceIcon
{
    background-color: red;
    
    margin-left: auto;
    margin-right: auto;
    
    -webkit-animation: colorSwitch 5s cubic-bezier(.05, .5, .60, 1);
    
}

.iconTicker
{
    margin-right: auto;
    margin-left: auto;
}

.faceIcon, .iconTicker
{
    display: block;
    width: 400px;
    height: 600px;
}

.faceIcon img
{
    display: block;
    padding-top: 600px;
    width: 100px;
    
    margin-right: auto;
    margin-left: auto;
    
    -webkit-animation:scrollUp 2s ease-out;
}

.iconTicker img
{
    width: 80px;
    margin-right: auto;
    margin-left: auto;
}

.iconTicker div
{
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    
    display: block;
    
}

.ufo
{
    -webkit-animation:scrollUp2 5s ease-out;
    -webkit-animation-delay: 0.5s;
}

.planet
{
    -webkit-animation:scrollUp3 5s ease-out;
    -webkit-animation-delay: 0.9s;
}

.pistol
{
    -webkit-animation:scrollUp3 5s ease-out;
    -webkit-animation-delay: 0.7s;
}

    
        
        @-webkit-keyframes flyIn-out
        {
             0%{}
           40%{-webkit-transform: translateY(-500px)}
            55%{-webkit-transform: translateY(-450px)}
             60%{-webkit-transform: translateY(-500px)}
            
            100%{-webkit-transform: translateY(-1000px)};    
        }
        
        @-webkit-keyframes flyIn-out2
        {
             0%{-webkit-transform: translateY(0px)}
           30%{-webkit-transform: translateY(0px)}
          
             60%{-webkit-transform: translateY(-500px)}
            70%{-webkit-transform: translateY(-450px)}
            80%{-webkit-transform: translateY(-500px)}
            
            100%{-webkit-transform: translateY(-1000px)};    
        }
        
         @-webkit-keyframes flyIn-out3
        {
             0%{-webkit-transform: translateY(0px)}
           40%{-webkit-transform: translateY(0px)}
          
             70%{-webkit-transform: translateY(-500px)}
            80%{-webkit-transform: translateY(-480px)}
            90%{-webkit-transform: translateY(-500px)}
            
            100%{-webkit-transform: translateY(-1000px)};    
        }

        @-webkit-keyframes colorSwitch
{
    0%{background: red;}
    20%{background: yellow;}
    50%{background: green;}
    80{background: blue;}
    100%{background: purple;}
}
