body
{
    background-color: #2c3e50;
}


#animation
{
    width: 350px;
    height: 150px;
    background-color: white;
    
    -webkit-animation: flyIn: 1s;
    -moz-animation: flyIn: 1s;
    animation: flyIn: 1s;
    transform-origin: left top;
}

@-webkit-keyframes flyIn
{
    0%
    {
        transform: perspective(300px) rotateY(90deg);
    }
    
    
    100%
    {
        
    }
    
}