body
{
    font-family: Helvetica;
    padding: 1em;
}

li
{
    background-color: #33aafa;
}

.high
{
    background-color: #D43257;
}

.medium
{
    background-color: #ffe92a;
}

.low
{
    background-color: #a9e228;
}

ul.todo
{
    margin: 0;
    padding: 0;
    margin-bottom: 1em;
}

ul#todo li
{
    padding: 0 0.5em;
    margin: 0;
    width: 500px;
    font-weight: bold;
    list-style-type: none;
    overflow: hidden;

    /* this is where the magic happens */
    height: 0;
    
    /* define what to transition and how fast to do it */
     -webkit-animation:inKlappen 0.5s ease-in;
      transform-origin: top;
}

ul#todo li.appear
{
    /* this is where the magic happens */
    height: 1em;
    padding: 0.5em;
    transform: none;
    border: 1px solid white;
}

ul#todo li.disappear
{
    -webkit-animation:uitKlappen 0.2s ease-in;
    transform-origin: top;
}

#button-add
{
    color: #6e6e6e;
    border: 1px solid #c3c3c3;
    font-size: 11px;
    text-transform: uppercase;
    padding: 1em 2em;
    text-decoration: none;
    border-radius: 2px;
}

.content
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    
}

@-webkit-keyframes uitKlappen
{
    0%{-webkit-transform: perspective(200px)rotateY(0deg);  opacity: 1; height: 1em; padding: 0.5em;}
    100%{-webkit-transform: perspective(200px)rotateX(90deg);  opacity:0; height: 0em; padding: 0em; }
  
}

@-webkit-keyframes inKlappen
{
    0%{-webkit-transform: perspective(300px)rotateX(90deg);  opacity:0;}
    100%{-webkit-transform: perspective(300px)rotateY(0deg);  opacity: 1; height: 1em; padding: 0.5em;}
}