<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Digital Bar</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Load theme styles -->
        <link rel="stylesheet" href="assets/bower_components/fontawesome/css/font-awesome.css" />
        <link rel="stylesheet" href="assets/bower_components/normalize.css/normalize.css" />

        <link rel="stylesheet" href="assets/css/styles.css" />
    </head>

    <body>
        <div class="container" ng-app="barApp" ng-controller="myController">
            <h1>Digital Bar</h1>

            <div class="center">
                <label for="name">Tell me, what is your name?</label>
                <input type="text" name="name" ng-model="myName"/>
                <p ng-if="myName" >Hello {{myName || 'Ned Stark'}}, order some drinks!</p>
            </div>

            <div ng-if="myName" class="productsContainer" ng-controller="myController">

                <div class="orderAdd">
                    <input type="text" placeholder="Zoek een product" ng-model="productSearch"/>
                    <p ng-if="productSearch">Je zoekt nu naar {{productSearch}}</p>
                    <ul class="productList" >
                        <li ng-repeat="product in products | filter:productSearch">
                            <span class="name">{{product.name}}</span>
                            <small class="quantity">{{product.qty}}</span>
                            <button id="plusBtn" ng-click="product.qty = product.qty + 1">+</button>
                            <button id="minBtn" ng-click="product.qty = product.qty - 1">-</button>
                            </small>
                        </li>
                    </ul>
                    <button class="action">Send your order</button>
                    <p ng-if="status.orderSent">Your order has been added!</p>
                </div>


                <div class="addProduct">
                    <label>Nieuw Product</label>
                    <div class="input-wrapper">
                        <input type="text" placeholder="Productnaam" />
                    </div>
                    <button class="action">Add product</button>
                </div>
            </div>
        </div>

        <!-- SCRIPTS ///////////////////////////////////////////////////// -->

        <!-- ANGULAR -->
        <script src="assets/bower_components/jquery/dist/jquery.js"></script>
        <script src="assets/bower_components/lodash/lodash.js"></script>
        <script src="assets/bower_components/angular/angular.js"></script>

        <!-- LOCAL SCRIPT-->
        <script>
            // Insert Angular magic here
            var app = angular.module('barApp', []);
            
            
            app.controller('myController', function($scope){
            console.log('Angular OK', $scope);
                
                $scope.myName = 'Angular';
                
                $scope.products = [{
                    name: 'Cola',
                    qty: 0
                }, {
                    name: 'Fanta',
                    qty: 0
                }, {
                    name: 'La Chouffe',
                    qty: 0
                }];
                
                
                
                
            });
            

            // API URL: 'http://imd.district01.be'
            // PRODUCTS: 'http://imd.district01.be/product' (PUT - GET)
            // ORDER: 'http://imd.district01.be/order' (POST)
        </script>

    </body>

</html>
