<div ng-controller ="parkingOverviewController">

		<img src="img/preloader.GIF" ng-hide="parkings"/>
		
		<form ng-show = "parkings">
			<fieldset>
				<legend>Settings</legend>
				<div class="form-group">			
					<label for="order">Sorteer op:</label>
					<select id="order" ng-model="orderOn" class="form-control">
						<option value="description">Beschrijving</option>
						<option value="-description">Beschrijving aflopend</option>
						<option value="availableCapacity">Beschikbaarheid</option>
					</select>
				</div> 
				
				<div class="form-group">
					<label for="filter">Filter:</label>
					<input type="text" id="filter" placeholder="Vrijdagmarkt" ng-model="filter"/>
				</div>

			</fieldset>
		</form>

		<ul id="parkinglist">
			<li class="parking" ng-class="capacity(p)" ng-repeat="p in parkings | orderBy: orderOn | filter: filterOn ">
			<parking ng-click="showDetails(p)"></parking>
				

			</li>
		</ul>

	</div>