body {
    background-color: #2c3e50;
}

.rood {
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: -webkit-transform 1s ease-in;
}

.groen {
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
    background-color: green;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: -webkit-transform 1s ease-in;
}

.geel {
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
    background-color: yellow;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: -webkit-transform 1s ease-in;
}

.roodmove {
    -webkit-transform: translateX(200px);
}

.groenmove {
    -webkit-transform: translateY(200px);
}

.geelmove {
    -webkit-transform: translate(200px, 200px);